@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #002069;
    --yellow: #fbc503;
    --grey: #7b7c7e;
    --bg-grey: #f4f4f4;
}

* {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bg-grey);
    font-family: "Montserrat", sans-serif;
}

.landing {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.landing h1 {
    width: auto;
    margin-bottom: 100px;
}

.landing div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing a,
.landing button {
    width: 200px;
    height: 70px;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--blue);
    text-align: center;
    align-content: center;
    margin: 30px;
    text-decoration: none;
    color: white;
    border: solid 1px var(--blue);
    border-radius: 5px;
    transition: .3s;
}

.landing a:hover {
    background-color: white;
    color: var(--blue);
}

.no-login {
    display: flex;
}

.yes-login {
    display: none;
}

/* LOGIN/REGISTER */

.login {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin: auto;
}

.login h1 {
    width: auto;
    margin-bottom: 30px;
}

.login form {
    width: 400px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: var(--grey);
    font-weight: bold;
}

input,
select {
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

button {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    background-color: var(--blue);
    border: solid 1px var(--blue);
    width: 100%;
    font-size: 18px;
    transition: .3s;
}

button:hover {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */

.timer-wrapper {
    font-family: 'Courier New', monospace;
    display: grid;
    pointer-events: none;
}

.timer-ghost {
    z-index: 5;
    position: fixed;
    width: auto;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    justify-self: center;
    pointer-events: all;
}

.timer {
    font-size: 32px;
    width: auto;
    background: var(--blue);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transition: transform .3s ease;
}

.timer p {
    background: #ddd;
    padding: 0 5px;
}

.forms-container {
    display: flex;
}

.forms-container>div {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

form {
    padding: 10px;
    background-color: beige;
}

.datos-div {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    padding: 20px 10px 0;
}

.datos-div p {
    position: absolute;
    background-color: antiquewhite;
    width: auto;
    top: -10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
}

.datos-div input {
    margin-bottom: 10px;
}

.datos-div>div {
    text-align: center;
}

.datos-div label {
    text-align: center;
}

.genero-div {
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
    border: 2px lightgrey solid;
    border-radius: 10px;
    height: 60px;
}

.default-form {
    background-color: rgb(239, 237, 237);
    height: 100vh;
}

.default-form h2 {
    width: auto;
    margin-top: -11px;
    margin-bottom: 10px;
    font-size: 24px;
}

.form-wrapper {
    background-color: lightgray;
    border-radius: 5px;
}

.form-wrapper div {
    font-family: "Verdana", sans-serif;
    padding: 20px;
    font-size: 16px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.default-form h3 {
    margin-bottom: 10px;
}

.default-form p {
    margin-bottom: 5px;
}

.default-form a {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: var(--blue);
    border: solid 1px var(--blue);
    font-size: 18px;
    transition: .3s;
    text-align: center;
    text-decoration: none;
}

.default-form a:hover {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
}

/* ADMIN PANEL */

.admin-body {
    background-color: #dbdbdb;
    padding: 20px;
    padding-top: 80px;
}

.back-button-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    width: auto;
    z-index: 10;
}

.back-button {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    width: auto;
    padding: 12px 24px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid var(--blue);
    transition: .3s;
}

.back-button:hover {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
}

.admin-panel h1 {
    margin-bottom: 20px;
}

.registros, .registros-usuario {
    border: 2px solid black;
}

.registro {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.2fr 1.5fr 1fr 1.5fr 1fr;
}

.registro:first-of-type {
    font-weight: 600;
}

.registro p, .registro a {
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.registro:nth-of-type(odd) p, .registro:nth-of-type(odd) a {
    background: rgb(119, 119, 119);
}

.registro:nth-of-type(even) p, .registro:nth-of-type(even) a {
    background: #a5a5a5;
}

.info-registro {
    display: flex;
    width: auto;
    gap: 20px;
    margin-bottom: 15px;
}

.info-registro p {
    width: fit-content;
}

.datos:nth-of-type(odd) p {
    background: lightgreen;
}

.datos:nth-of-type(even) p {
    background: #a5a5a5;
}

.registro a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.datos-nombres, .datos {
    display: grid;
    grid-template-columns: repeat(10, 150px) 250px 150px 300px 200px;
}

.registros-usuario div p {
    border: 1px solid black;
    padding: 2px 5px;
}

.registros-usuario {
    width: fit-content;
}

.datos-nombres p {
    font-weight: 600;
    background: #555555;
}

.data-error {
    background: lightcoral !important;
}